:root {
    --primarycolor: rgb(34, 96, 34);
    --secondarycolor: rgb(0, 255, 132);
    --tertiarycolor: rgb(68, 4, 28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 420px;
    height: 400px;
}

body {
    color: var(--primarycolor);
    font-family: 'Courier New', Courier, monospace;
}

.bimage {
    background-image: url(../img/background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*h2*/
.h2 {
    display: flex;
    justify-content: center;
}
/*h2 ENDS*/

/*HEADER*/
header {
    padding: 30px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 38px;
    margin: 0;
    text-shadow: 0 0 13px rgba(106, 84, 143, 0.687);
}

header a {
    text-decoration: none;
    margin: 7px 0;
    color: var(--primarycolor);
}

header a:hover {
    background: var(--tertiarycolor);
    color: var(--secondarycolor);
    border-radius: 20px;
    padding: 7px;
    font-weight: lighter;
    text-shadow: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: auto 0;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.7vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--tertiarycolor);
    color: var(--secondarycolor);
    border-radius: 15px;
    font-weight: lighter;
    text-shadow: none;
}
/*HEADER ENDS*/

/*HERO*/
.hero {
    padding: 0px 48.922px 50px 60px;
    margin-bottom: 20px;
    padding-left: 500px;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    display: flex;
    flex-wrap: wrap;
}
/*HERO ENDS*/

/*ABOUT ME*/
.aboutme {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 95px;
} 

.aboutme h2 {
    margin: 30px;
    justify-content: center;
}

.aboutme img {
    width: 370px;
    height: 420px;
    border-radius: 9px;
}

.am {
    margin: 30px 10px;
    position: absolute;
    left: 430px;
}

.am p {
    padding: 2%;
    font-size: larger;
} 
/*ABOUT ME ENDS*/

/*MY PROJECTS*/
#my-projects h2 {
    margin-bottom: 30px;
}
/*MY PROJECTS ENDS*/

/*RUNBUDDY*/
.runbuddy h3 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin: 200px 200px 200px 200px;
}

#rbimg {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}
/*RUNBUDDY ENDS*/

/*PLACEHOLDER*/
.placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px;
}

.ph {
    margin: 0px 30px;
}

.ph h3 {
    font-size: 150%;
    color: var(--tertiarycolor);
    border: var(--primarycolor);
    border-style: double;
}

.ph img {
    transition: transform 0.5s, filter 0.55s ease-in-out;
    transform-origin: center center;
    filter: brightness(85%);
}

.ph img:hover {
    filter: brightness(100%);
    transform: scale(1.03);
}

#phmargin {
    margin: 5%;
}
/*PLACEHOLDER ENDS*/

/*FOOTER/CONTACT ME*/
#contact-me {
    margin-top: 5%;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact form {
    color: var(--secondarycolor);
    padding: 20px;
    background-color: var(--tertiarycolor);
    border: solid 3px var(--secondarycolor);
    width: 35%;
    margin: 3.5%;
    font-size: larger;
    border-radius: 21px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.contact input,
.contact textarea {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid var(--tertiarycolor);
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    color: var(--tertiarycolor);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(217, 255, 221, 0.75);
}

.contact input:focus,
.contact textarea:focus {
    background-color: rgb(185, 255, 197);
}

.contact button {
    width: 100%;
    border: none;
    background: rgb(89, 124, 103);
    color: var(--secondarycolor);
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.contact button:hover {
    color: var(--tertiarycolor);
    background: var(--secondarycolor);
    font-weight: lighter;
}
/*FOOTER/CONTACT ME ENDS*/

/*MEDIAQUERIES*/
/*Media query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
    /*HEADER*/
    header h1 {
        width: 100%;
        font-size: 130%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        margin-left: 20%;
        width: 100%;
    }

    header nav ul li a {
        font-size: 120%;
        text-align: right;
    }
    /*HEADER ENDS*/

    /* FOOTER/CONTACT ME */
    .contact form {
        width: 50%;
        margin: 4.5%;
    }
    /* FOOTER/CONTACT ME ENDS*/
}

/*Media query for tablets and smaller*/
@media screen and (max-width: 768px) {
    /*HEADER*/
    header nav ul {
    }

    header nav ul li a {
        font-size: 115%;
        display:flex;
        flex-wrap: wrap;
        position: static;
    }
    /*HEADER ENDS*/

    /*HERO*/
    .hero h2 {
        font-size: 111%;
        padding-top: 10px;
        display: inline-block;
        white-space: nowrap;
        position: relative;
        right: 300px;
    }
    /* HERO ENDS */

    /*ABOUT ME*/
    .aboutme img {
        margin-top: 15px; 
        margin-left: 175px;
        width: 350px;
        height: 400px;
    }

    .am {
        position: static;
    }
    /* ABOUT ME ENDS */
}

/*Media query for mobile phones and smaller*/
@media screen and (max-width: 575px) {
       /*HEADER*/

    header nav ul {
        justify-content: space-evenly;
    }

    header nav ul li a {
        font-size: 105%;
        padding: 10px;
    }
    /*HEADER ENDS*/

    /*HERO*/
    .hero h2 {
        font-size: 109%;
    }
    /* HERO ENDS */

    /*ABOUT ME*/
    .aboutme img {
        margin-top: 75px;
    }
    /* ABOUT ME ENDS */

    /* FOOTER/CONTACT ME */
    .contact form {
        width: 70%;
        margin: 4%;
    }
    /* FOOTER/CONTACT ME ENDS*/
}
