:root {
    --primarycolor: rgb(34, 96, 34);
    --secondarycolor: rgb(76, 255, 0);
    --tertiarycolor: rgb(68, 4, 28);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: var(--primarycolor);
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

.bimage {
    background-image: url(../img/background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*HEADER*/
header {
    padding: 30px 35px;
    background-color: var(--tertiarycolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 38px;
    margin: 0;
    text-shadow: 0 0 13px rgba(106, 84, 143, 0.687);
}

header a {
    text-decoration: none;
    margin: 7px 0;
    color:var(--primarycolor);
}

header a:hover {
    background: var(--tertiarycolor);
    color: var(--secondarycolor);
    border-radius: 20px;
    padding: 7px;
    font-weight: lighter;
    text-shadow: none;
}

header nav {
    margin: 7px;
    position: -webkit-sticky;
    position: sticky;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: auto 0;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.9vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--tertiarycolor);
    color: var(--secondarycolor);
    border-radius: 15px;
    font-weight: lighter;
    text-shadow: none;
}
/*HEADER ENDS*/

/*HERO*/
.hero {
    padding: 49px 48.922px 12px 60px;
    margin-bottom: 20px;
    padding-left: 500px;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    transform-origin: center;
    transform: rotate(7deg);
    display: flex;
    flex-wrap: wrap;
}
/*HERO ENDS*/

/*ABOUT ME*/
.aboutme {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline;
    background-color: red;
}

.aboutme img {
    max-width: 20%;
    max-height: 20%;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 0 0 150px;
}

.aboutme h2 {
    float: right;
    position: relative;
    right: 500px;
    margin: 30px auto auto auto;
}

.aboutme p {
    float: right;
    display: block;
    padding: 80px 70px 0 0;
    width: 60%;
    position: relative;
    left: 60px;
    line-height: 2.5;
}
/*ABOUT ME ENDS*/

/*MY PROJECTS*/
.